<html lang="en">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li><strong>{{ message }}</strong></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking for {{competition['name']}} || GUDLFT</title>
</head>
<body>
    <p>Id for your club: {{club['email']}}, points available: {{club['points']}}</p>
    <p> 
        <a href="{{url_for('logout')}}">Logout</a> | 
        <a href="{{ url_for('showClubsPoints',club=club['name']) }}">
            See the dashboard with points for all clubs
        </a>
    </p>
    <h2>{{competition['name']}}</h2>
    <p>Places available for this competition: {{competition['numberOfPlaces']}}</p>
    <form action="/purchasePlaces" method="post">
        <input type="hidden" name="club" value="{{club['name']}}">
        <input type="hidden" name="competition" value="{{competition['name']}}">
        <label for="places">How many places?</label><input type="number" name="places" id=""/>
        <button type="submit">Book</button>
    </form>
</body>
</html>
