<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary | GUDLFT </title>
</head>
<body>
        <h1>GUDLFT: Looking at the list of competitions</h1>
        <h3>Welcome, {{club['email']}}  | 
            <a href="{{url_for('logout')}}">Logout</a>
        </h3>
        <p>Your points available: 
            <span id="club_info">{{club['points']}}</span></p>
        <p>
        <p>
            <a href="{{ url_for('showClubsPoints',club=club['name']) }}">
                See the dashboard with points for all clubs
            </a>
        </p>
        <ul id='flashes_msg'>
    {% with messages = get_flashed_messages()%}
    {% if messages %}
       {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
       </ul>
    {% endif%}
    <p>Points available: {{club['points']}}</p>
    <h3>Competitions:</h3>
    <ul>
        {% for comp in competitions%}
        <li>
            {{comp['name']}}<br />
            Date: {{comp['date']}}</br>
            Number of Places: {{comp['numberOfPlaces']}}
            {%if comp['numberOfPlaces']|int >0%}
            <a href="{{ url_for('book',competition=comp['name'],club=club['name']) }}">Book Places</a>
            {%endif%}
        </li>
        {% endfor %}
    </ul>
    {%endwith%}

</body>
</html>